/* Spacing between bullet points */
.section li {
  margin-bottom: 5px;
}

/* Larger content body */
.wy-nav-content {
  max-width: 950px;
  min-height: 100vh;
}

/* Highlighted text has less saturated background */
.highlight {
  background: #fefffa;
}

/* But more saturated line */
.highlight .hll {
  background-color: #ff9;
}

/* Black background for search */
.wy-side-nav-search {
  background-color: black;
}

/* Gray version text */
.wy-side-nav-search>div.version {
  color:hsla(0,0%,100%,.5)
}
 